<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Patient List </title>
</head>
<body>

    <div>

        <h1> Patient Table With No Bootstrap</h1>

            <table>
                <tr>  
                    <th> ID </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Date of Birth </th>
                    <th> Gender </th>
                    <th> Mortality Risk </th>
                    <th> Length of Stay </th>
                    <th> Insurance </th>
                </tr>
                {% for i in listPatients %}
                    <tr>
                        <td> {{ i['ID'] }} </td>
                        <td> {{ i['firstname'] }} </td>
                        <td> {{ i['lastName'] }} </td>
                        <td> {{ i['dob'] }} </td>
                        <td> {{ i['gender'] }} </td>
                        <td> {{ i['risk'] }} </td>
                        <td> {{ i['LOS'] }} </td>
                        <td> {{ i['insurance'] }} </td>
                    </tr>
                {% endfor %}
            </table>


    </div>


</body>
</html>